

<section class="">
  <div class="container d-flex justify-content-center">
    <div class="row w-75 mt-5">
      <div class="col-md-12">
        <h2 class="text-center">Add Product</h2>
        <form
          name="myform" onsubmit="return validation()"
          action="/admin/add_product"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="">Prodcut Name</label>
          <input type="text" name="name" class="form-control" />
          <label for="">Description</label>
          <input type="text" name="description" class="form-control" />

          <label for="">Price</label>
          <input type="text" name="price" class="form-control" />

          <label for="">Category</label>
          
          <select class="form-select" name="category" id="cars">
            <% response.forEach(function(response,index) { %>
              <option value="<%= response.categoryName%>">
                
              
                
                
                
                
                <%= response.categoryName%>
              
              
              
              
              </option>
              <% }) %>
          </select>
          
          <label for="">Quantity</label>
          <input type="text" name="quantity" class="form-control" />

          <label for="">Image</label>
          <input type="file" name="file"  class="form-control" />

          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>

  let img=document.forms['myform']['file'];
  let validExt=["jpeg", "png", "jpg","webp"]
  function validation(){
    if(img.value!==''){

      let dot_pos=img.value.lastIndexOf('.')+1;
      let img_ext=img.value.substring(dot_pos);

      let result=validExt.includes(img_ext);
      if(result==false){
        swal.fire(
         'OOPs!',
         'Selected file is not an image!',
         'error'
)
        return false;
      }
      else{

        if(Number(img.files[0].size/(1024*1024))>=3){

          swal.fire(
         'OOPs!',
         'Size must be smaller than 3 MB . Current size is :' + Number(img.files[0].size/(1024*1024)),
         'error'
)
          // alert('Size must be smaller than 3 MB . Current size is :' + Number(img.files[0].size/(1024*1024)))
        }
      }
    }
    else{
      swal.fire(
         'error',
         'No image is selected...',
         'error'
)
      // alert('No image is selected...');
      return false;
    }
    return true;
  }
</script>