<section class="d-flex justify-content-center mt-5">
  <form action="/admin/login" method="post" class="">
    <h3 class="mb-3">Admin Login</h3>
    <!-- Email input -->
    <% if(locals.adminloginErr==true){%>
    <p class="message" style="color: red">Invalid Username And Password</p>

    <%}%>
    <div class="form-outline mb-4">
      <input
        type="email"
        id="form2Example1"
        name="email"
        class="form-control"
      />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="form2Example2"
        name="password"
        class="form-control"
      />
      <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary !important btn-block mb-4">
      Sign in
    </button>

    <!-- Register buttons -->
  </form>
</section>
<script>
  setTimeout(function () {
    document.querySelector(".message").style.display = "none";
  }, 2000);
</script>
