<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Reset password</h5>
              <p class="mb-2">Enter your old password to reset the password
              </p>
            </div>
            <form id="update">
              <div class="mb-3">
                <label for="pwd" class="form-label">Old Pasword</label>
                <input 
                type="password" 
                id="pwd" 
                class="form-control" 
                name="password" 
                placeholder="Enter Your Old password"
                required="">
              </div>
              <div class="mb-3">
                <label for="pwd" class="form-label">New Pasword</label>
                <input 
                type="password" 
                id="pwd2" 
                class="form-control" 
                name="password2" 
                placeholder="Enter Your New password"
                onkeyup="validatePassword()"
                  required="">
                  <span id="pass-error" class="validation-label"></span>

              </div>
              <div class="mb-3 d-grid">
                <button onclick="newPassword('<%=locals.profileId%>');" class="btn btn-primary">Click me</button>
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  function newPassword(profileId) {
    console.log(profileId);
    $('#update').submit((e) =>{
        e.preventDefault();

        $.ajax({
        url: `/enter_new_pwd/${profileId}`,
        method: "POST",
        data:$('#update').serialize(),
        success: (response) => {
            if(response){
                Swal.fire({
  position: 'center',
  icon: 'success',
  title: 'Your password has been updated',
  showConfirmButton: false,
  timer: 1500
})
// location.href="/profile"
            }
            else{
                Swal.fire({
  icon: 'error',
  title: 'Enter old password correctly!!',
  
})
            }
          }
        });
    })


}
</script>

<script>
let passError=document.getElementById("pass-error");


function validatePassword(){
    
    let password = document.getElementById("pwd2").value;
    let passwordInput = document.getElementById("pwd2")
    let oldpassword = document.getElementById("pwd").value;
    let oldpasswordinput= document.getElementById("pwd")
    
        if(password.length != 0){
            if(password == oldpassword){
                passError.innerHTML = "Please enter different password";
                passError.style.color = "red";
                passwordInput.style.border = "solid 2px red";
                cnfrmPasswordInput.style.border = "solid 2px red";
                return false
            }
            else if (!password.match(/[a-zA-Z]/)) {
              passError.innerHTML = "Password must contain atleast 1 letter";
              passError.style.color = "red";
              passwordInput.style.border = "solid 2px red";
              return false;
            }
            else if (!password.match(/^.{8,}$/)) {
              passError.innerHTML = "Password min-length 8";
              passError.style.color = "red";
              passwordInput.style.border = "solid 2px red";
              return false;
            }
            else if (!password.match(/^(?=.*[\W_])[\w\W]/)) {
              passError.innerHTML = "Password must contain atleast one special character";
              passError.style.color = "red";
              passwordInput.style.border = "solid 2px red";
              return false;
            }
            else{
                return true
    
    
            }
        }
        else{
            
            message.textContent = "";
        }
    }

    function validateForm() {
  if (
    !validatePassword
  ) {
    submitError.style.display = "block";
    submitError.innerHTML = "Please fix all errors to submit.";
    setTimeout(function () {
      submitError.style.display = "none";
    }, 3000);
    return false;
  }
}
</script>